body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('./Images/Menu BG.png');
    background-size: 85%;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: black;
    color: whitesmoke;
    overflow: hidden;
}

a.pagelink, a.pagelink:visited {
    position: relative;
    text-decoration: none;
    color: whitesmoke;
}

a.pagelink:hover {
    color: lightblue;
}
  